@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <section class="bboffer">
        <h2>Get 10% Discount At Licious</h2>
        <p style="color:#800080">Offer on Licious for Net Banking users.</p>
        <p>Avail 10% instant discount on a minimum purchase of Rs. 1000 using CDBbank Netbanking. Maximum discount applicable is Rs. 150.</p>
        <p>Offer period: Till Sept 30, 2021</p>
        <p><bold>Steps to avail the offer</bold></p>
        <ul class="steps">
            <li>Visit www.licious.in or download the app</li>
            <li>Select the products</li>
            <li>Add products worth Rs.1000 and more (after discount)</li>
            <li>Make payment using CDB Bank Netbanking</li>
        </ul>
        <p><bold>NOTE:</bold></p>
        Offer valid from Monday till Thursday only during April 05, 2021 to September 30, 2021.

        Offer valid twice per user per month
        <p>
            Terms and Conditions apply.
        </p>
    </section>

</body>
</html>